@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";
.font-pixel {
  font-family: 'Press Start 2P', system-ui;
  text-transform: uppercase;
}

@theme{

 --color-green : #6EED8A;
 }